/* estilos header */
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

@font-face {
  font-family: MYCHEMICALROMANCE;
  src: url(../Fuente/my_chemical_romance.ttf);
  font-family: "Inter", sans-serif;
}
body {
  background: linear-gradient(to bottom, #020202, #2b2b2b, #575656) no-repeat;
  
}
h1 {
  font-family: MYCHEMICALROMANCE;
  font-size: 3rem;
  padding-bottom: 1%;

}
header {
  color: #ffffff;
  text-align: center;
  font-family: "Inter", sans-serif;
  padding-bottom: 2%;
  padding-top: 4%;
}
ul {
  list-style: none;
}
.albumesHeader {
  border-right: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
}
nav li {
  display: inline-block;
  padding-left: 2%;
  padding-right: 2%;
}
a{
  color: #ffffff;
}
a:active {
  color: #ffffff;
  font-weight: bold;
}
a:visited {
  color: #ffffff;
}
a:hover {
  font-weight: bold;
}
p {
  font-family: "Inter", sans-serif;
  color: #ffffff;
}
/*Estilos carrusel-About the band*/

.carousel-inner {
  display: flex;
  position: relative;
  width: 100%;
}
.carousel-item active{
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}
.carousel-item{
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}
.carousel-control-prev,
.carousel-control-next{
  width: 9%;
  opacity: .7;
}
.anterior, 
.siguiente{
 width: 100%;
}
.about-the-band {
  align-items: center;
  padding: 2%;
  width: 85%;
  margin: auto;
}
.about-the-band p{
  text-align: justify;
  width:100%;
}
.about{
  margin-top: 2%;
}
h3 {
  font-weight: bold;
  font-family: "Inter", sans-serif;
  color: #ffffff;
  text-align: center;
}
/*Estilos álbumes*/
.albumes{
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow-y: auto;
  justify-content: center;
}
 .caratulas{
  width: 50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
 }

  .card{
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 40%;
  min-height: 200px;
  max-height: 700px;
  background: rgba(217, 217, 217, 0.2);
  text-align: center;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 6%;
 }
 .card:hover{ 
  transform: translateY(15px);
  box-shadow: 0 12px 16px rgba(0,0,0,2);
  cursor: pointer;
}
 .caratulas img{
  display: flex;
  margin: 10%;
  border-radius: 5px;
  width: 80%;
}
.nombreAlbum{
  padding: 1%;
}

.info_albumes{
  width: 45%;
  height: fit-content;
  border-radius: 5px;
  background-color: rgba(217, 217, 217, 0.2);
  padding-top: 2%;
  padding: 1%;
  padding-bottom: 0%;
 /* visibility: hidden;*/
 
}

.titulo_canción{
  width: 100%;
  margin-left: 5%;
  font-weight: bold;
  font-size: 1.3rem;
  object-fit: contain;
}
th{
  color: #ffffff;
  margin-bottom: 2%;
}
td{
  color: #ffffff;
}
/*Eventos click*/

/*#firstAlbumClick:checked.info_albumes{
  visibility: visible;
}*/


/*Estilos biografias*/
.info_bio{
  display: flex;
  justify-content: center;
  width: 45%;
  border-radius: 5px;
  background-color: rgba(217, 217, 217, 0.2);
  padding: 1%;
}
.img_biografias{
  width: 50%;
  margin-top: 3%;
  max-height: 50%;
}
.img_biografias img{
  width: 100%;
  border-radius: 5px;
  position: relative;
  top: 3%;
  
}
.bio {
  position:absolute;
  margin-top:30%;
  width: 36%; 
  text-align: justify;
  font-size: 1rem;
  }
/*Footer*/
.footer{
  padding-top: 7%;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
  justify-items: center;
}
